language: node_js
node_js:
- '6'
cache:
  yarn: true
  directories:
  - node_modules
script:
- npm run build
after_success:
- if [[ "$TRAVIS_BRANCH" == "master" ]] && [ "$TRAVIS_REPO_SLUG" == "dhis2/translations-app" ]  \
        && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
        mvn clean deploy --settings deploy/settings.xml ;
        exit $? ;
  fi

- if [[ "$TRAVIS_BRANCH" =~ "^v[0-9]{2}$" ]] && [[ -z $TRAVIS_TAG ]]; then
        mvn clean deploy --settings deploy/settings.xml ;
        exit $? ;
  fi

env:
  global:
  - secure: Zg3p/KEMW5lUwoFpbB+GqXFLZMM1uZrM2BpYkNdD0cK+bWARyTvpvEFH8yQQseyEfrfGTRAWMoyNR58MVpMQbrRipep0ronLPMjKi8wXUqP7ZNHpm7iifZPT412Pog/XX0EI2VMxjBRrqZtVrEmkYe1eA9eiRHzAyG17t/mxuHzoWUiJUiU2qODRvguW9bp9NLSuP3cGYEALQhbgHxG8oaD633OWrZ14At1Je7FrP4ExgG4MAZPMfWb2wYsvn3VYl7ord+TBaHh7reJlsFlwO5EgDpYiMettRHFo9iqK6upCai04njCHioYCjBmEmK/g05A7JVeHRUP/nxweslAQWOOOUJbxB18by2rRvawCXaOHVVlHH7czuXGrrlyR5W4Ghb6cLYOKJHlSLrBA0DXS3zia1MAJz+byhMQO06WaU8ARdx8BDzvzL4mWgko2f0cFmJT9mL8+CeaZf2Hb2jlmSUH9xZTqlyy01YUF8SG5y3S5uw/XfxqWyLU8BiiAJXdJPH5eMFAER/SxP/IZ8jzKv4zlBTkYkoqOWrwIhjB22lK6/i+jmvg8QjZ7c4KtQGuFh+gJ5p77MTLabiS8b3qiiSVQKgfrOL7g+xxbuallF9uHiNil1FbAma6i9HVNlzVtBB3mw0Q1ojQPeNh305s6FdzyRpOoKNZb3yGd57kR5m8=
  - secure: NOu+rM5Vz9p2NIhgSrIa/4osW+0nOJW9dVkbwyLQJ7X8mEEBjC0stVwbmsruXPbLT06iN6lyQ1bbGcrsAPwJfRjPoNOd2usAeXswlrP2JWE1DhH8VQAnT4p4IdP8cbAHjeXgMx4GmeW9+8Tz5LMBRzKEquxTAsjb/gJEW3s0i0O+001XLcxZz0sPZshqXa/voqHEuOeJ4d4hlJQyJW0r3DVDeFiKLUbcZO5fnNMFFfNYvIfyKV9otyS2eblVO3LM2OSiiwdfObzMBbhVxMTs5WQKTXKCRqUjdLrL/Cmj7UkjzW+SmPcN2VC3pVG9BUIn6cnmc2BYpskeLZ8w37M5M0J2K3Bl8X+THDcu6z4gQwwOyZI7J0O3rC2sBkJ5eQqa85IoehccxS+Bbl9gOjKiCGYYM2NTgA+mocIYz9tkmBdDfuQzuK2UXLqTy0kQPwovF1KQHGxct0pqP4JhYDbzHdlvLoWUeYqefr9FAboJE/EgZyl1/yBqrp4W6sdUp775EQqQnggJxneGvK9hdpdY9Ba/WefT6IzCA6tH80zjoCQquavLOf7r8H32UmCatAhxIxTe6g6t4p+OiZSUYbZn2WDsXANwMxMlxWOgZblSkIvdc5bphHlSUrgtjKrXNY9trKkKrGRtERHEDyfWqYCJN7U2wzEcq9PPVgP1gyLnMTM=
notifications:
  slack:
    rooms:
      secure: e28mGUXonEd8bRto15PES/hl7upgRHK3bWmTLFvgbO5ZnxK/O1UHZ3prD4Rkm0L426EqN5sdZ5l/FPQE9QFhQaWFdRPwN8YG47qkv9xLc3fOO0kUeKrPGu00IKQgWhiw2jhOKwkfZ5S6eneY+jBCPEXMAo5Ts2dNpDHCxhTKtsOGWLD1OuqynsYQq4rYtwFVmOZ1zaD0sfACJMZ00QCeEzKLdOGpoTRHgoHrN+wvoVs0NnlxV4DpIyoAOiwqQkVauviBY+AAAM/PQ6J1ZVR0OaIuukmOeozuoGsKti8ghymIutckk+TT7Pr7JOFOnC/+kAciniJ9fxWEdSPMyoWzaq8c0QSyQhWvigHpf7hIvZK4pvAnWzw1dKQ7iIPvceTexTAMrZamMkp5up9+P9sCxjBrOW3JqZES5u68QBEGIrY0kS8ZUCNZU7N/knsGNZ7dSWPamQNUI1Hnatxs2dWDdJDYWbrz8+hsPJ0oq8HHBjk3mY5oxHCyL3SuN1h89NhrWJo1Lo9J+UX6xkzdEIPdoNoh5vVkjHuYsvZsAJFviYns//8ybnSejY9XRHZPnQ79ygQ7JASufSbYzOFlTnKEFTTD4V8NwhMuJhUA9ih1Y2ktzpZkvscWYeyRGrS6ehpDcuSh91hWL6KL2++Fk7UvpaM/lkdkAE6NmNYqyKsaT0I=
    on_success: change
    on_failure: always
