@import '../../node_modules/d2-ui/lib/css/HeaderBar.css';

$left-bar-width: 295px;
$primary1Color: #F1D43A;
$primary2Color: #E9B626;
$primary3Color: #C38B15;
$accent1Color: #F5555D;
$accent2Color: #F5F5F5;
$accent3Color: #9E9E9E;
$textColor: #212121;
$alternateTextColor: #ffffff;


html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
}

.app-wrapper {
  margin-top: 4rem;
}

.content-area {
}

/* APP SPECIFIC STYLES */
$main-color: $primary1Color;

.snackbar{
  left: 2rem;
  right: initial;
}

.wrapper{
  min-width: 910px;
  position: relative;
}

.helpButton {
  position: absolute;
  top: 28px;
  right: 28px;
}

.helpDialogTitle{
    background:$primary1Color;
    color:$alternateTextColor;
}

.left{
  float:left;
}

.content-wrap {
  display: flex;
  width: 100%;
}

.menu {
  min-height: 500px;
  margin: 0px;
  padding: 2em 1em;
  width:315px;
  flex: 0 0 292px;
}

.translations {
  padding-left: 2em;
  flex: 1 1 70%;
}

.debugBox{
  clear:both;
  font-size:60%;
}

.subdued {
  color: $accent3Color;
}

.title_description {
  font-size: 80%;
}
