.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: steelblue;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-top: 1px solid darkslategrey;
  z-index: 100;
  box-shadow: 0 0 5px darkslategrey;
  align-items: center;
  justify-content: space-between;
  color: white;

  .tool-bar--item--button {
    max-width: 200px;
  }
}
