@import '../variables';

.translations-form {
  padding: $material-ui-default-padding;
  background-color: white;
  border-bottom: 3px solid $primary-color;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    margin: 0;
    font-weight: 200;
    font-family: sans-serif;
  }
}

.translations-form__fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $large-screen-cutoff) {
    flex-wrap: wrap;

    & {
      flex-direction: row;
      min-width: 25%;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.translations-form__field {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (min-width: 1300px) {
    & {
      margin-right: 16px;
      min-width: calc(50% - 16px);
    }

    &:nth-child(2n + 0) {
      margin-right: 0;
    }
  }
}

.translations-form__base-text {
  font-size: .8rem;
  color: goldenrod;
}

.translation-form__fields--unsaved {
  & h3:after {
    content: '*';
    color: darkorange;
  }
}